<mtapp:setting
    id="adminscreenreplacelink_search"
    label="<__trans phrase="Search">">
<ul>
<li><input type="text" class="text" value="<mt:var name="adminscreenreplacelink_search" escape="html">" name="adminscreenreplacelink_search" id="adminscreenreplacelink_search" /></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="adminscreenreplacelink_replace"
    label="<__trans phrase="Replace">">
<ul>
<li><input type="text" class="text" value="<mt:var name="adminscreenreplacelink_replace" escape="html">" name="adminscreenreplacelink_replace" id="adminscreenreplacelink_replace" /></li>
</ul>
</mtapp:setting>